$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss';

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-variant-ligatures: none;
}

html {
	font-size: 16px;
}
